<h2>Create product</h2>

<div class="form-group">
    <form>
        <div class="product-name">
            <input type="text"
                    placeholder="Product Name"
                    [value]="product.name"
                    (input)="product.name=$event.target.value"> 
        </div>
        <div class="product-price">
            <input  type="number"
                    placeholder="Product Price"
                    [value]="product.price"
                    (input)="product.price=$event.target.value">
        </div>
        <div class="product-image-url">
            <input  type="text"
                    placeholder="Product image URL"
                    [value]="product.image"
                    (input)="product.image=$event.target.value">
        </div>
        <div class="is-on-sale">
            <input type="checkbox"
                   [checked]="product.isOnSale"
                   (input)="product.isOnSale=$event.target.checked" >Is on sale
        </div>
    </form>
</div>

<div>Product name: {{product.name}}</div>
<div>Product price: {{product.price}}</div>
<div>Product image URL: {{product.image}}</div>
<div>Product isOnSale: {{product.isOnSale}}</div>
