<h2>Create product</h2>

<div class="form-group">
    <form (ngSubmit)="createProduct()">
        <div class="product-name">
            <input type="text"
                    placeholder="Product Name"
                    name="productName"
                    [(ngModel)]="product.name"> 
        </div>
        <div class="product-price">
            <input  type="number"
                    name="productPrice"
                    placeholder="Product Price"
                    [(ngModel)]="product.price">
        </div>
        <div class="product-image-url">
            <input  type="text"
                    name="productImageURL"
                    placeholder="Product image URL"
                    [(ngModel)]="product.image">
        </div>
        <div class="is-on-sale">
            <input type="checkbox"
                    name="productIsOnSale"
                   [(ngModel)]="product.isOnSale">Is on sale
        </div>
        <button type="submit">Create</button>
    </form>
</div>

<div>Product name: {{product.name}}</div>
<div>Product price: {{product.price}}</div>
<div>Product image URL: {{product.image}}</div>
<div>Product isOnSale: {{product.isOnSale}}</div>
