.product-container{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}

.product-container .details {
    text-align: center;
}

.onSale{
    background-color:lightskyblue;
}

.notOnSale{
    color: red;
}
