<div class="product-container" [ngClass]="productClasses">
    <img [src]="product.image">
    <div class="details">
        <div class="name">{{product.name}}</div>
        <div>$ {{product.price}}</div>
        <div>
            <button (click)="removeProduct()"
                    *ngIf="quantity > 0">-</button>            
            <span>{{quantity}}</span>
            <button (click)="addProduct()">+</button>
        </div>
    </div>
    <select>
        <option value="{{option}}" *ngFor="let option of options">{{option}}</option>
    </select>
</div>
